.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: 609px;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }

    background: $primary-white-color;

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: transform 250ms $timing-function, opacity 250ms $timing-function;
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $absolutly-black-color;
    background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;

    transition: color 250ms $timing-function;
    
    &:hover, &:focus {
        color: $hover-color;
    }
}
.close {
    fill: currentColor;
}

/* modal-form */
.modal-form {
    display: flex;
    flex-direction: column;
    .form-label {
        position: relative;
    }
}
.modal-title {
    font-family: $font-family-body;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 12px;
    
    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}
.imput-title {
    display: block;
    font-family: $font-family-body;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $primary-text-color;
    margin-bottom: 4px;
}
.inputs {
    width: 370px;
    height: 40px;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: transparent;
    cursor: pointer;
    
    @media screen and (min-width: $desktop) {
        width: 448px;
    }
    transition: border 250ms $timing-function;
}
.form-label svg {
    position: absolute;
    top: 29px;
    left: 12px;
    fill: $absolutly-black-color;

    transition: fill 250ms $timing-function;
}
.comment {
    width: 370px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: transparent;
    cursor: pointer;
    
    @media screen and (min-width: $desktop) {
        width: 448px;
    }
    
    &::placeholder {
        font-family: $font-family-body;
        font-style: normal;
        font-weight: $font-weight-body;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    transition: border 250ms $timing-function;
}
.inputs:focus-within, .comment:focus-within {
    border: 1px solid $hover-color;
}
.inputs:focus-within ~ svg {
    fill: $hover-color;
}
.agreement {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    color: $primary-text-color;

    @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
    }
}
.check {
    display: flex;
    align-items: center;

    &::before {
        display: inline-block;
        content: '';
        width: 16px;
        height: 15px;
        margin-right: 8px;
        background-image: url(../images/checkbox.svg);
        fill: $title-text-color;
    
        transition: fill 250ms $timing-function,
            background-color 250ms $timing-function,
            background-image 250ms $timing-function;
    }
}
.checkbox:checked + .check::before {
    background-color: $hover-color;
    background-image: url(../images/check.svg);
    border-radius: 2px;
}
.agreement label {
    position: relative;
    display: block;

    @media screen and (min-width: $desktop) {
    padding-left: 12px;
    }
}
.agreement a {
    position: relative;
    color: $hover-color;
    
    &:before {
        position: absolute;
        left: 0;
        bottom: 1px;
        content: '';
        height: 1px;
        width: 100%;
        background-color: currentColor;
        
        @media screen and (min-width: $desktop) {
            bottom: 4px;
        }
    }
}
.modal-button {
    @extend %global-btn;
    margin-right: auto;
    margin-left: auto;
    font-family: $font-family-body;
    font-style: normal;
    font-weight: $font-weight-bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms $timing-function;
    
    &:hover, &:focus {
        background-color: #188CE8;
        cursor: pointer;
    }
}