$primary-text-color: #757575;
$title-text-color: #212121;
$hover-color: #2196F3;
$primary-white-color: #ffffff;
$gray-back-color: #F5F4FA;
$footer-back-color: #2F303A;
$absolutly-black-color: #000000;
$border-gray-color: #EEEEEE;
$social-gray-color: #afb1b8;

$font-family-logo: 'Raleway', sans-serif;
$font-family-body: 'Roboto', sans-serif;
$font-size-body: 14px;
$font-weight-body: 400;
$font-weight-bold: 700;
$letter-spacing-body: 0.03em;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1)